<h1>Projekt bearbeiten</h1>
<% if @mitarbeiter %>
<%= render :partial => "formmitarbeiter" %>
<%= link_to 'Zurück', mitarbeiter_path(@mitarbeiter) %>


<% else %>
<%= render :partial => "form" %>
<%= link_to 'Zurück', projekts_path %>


<% end %>